---
tags: [main, perlin-noise]
title: Perlin Noise and Smooth Movers
layout: 'base'
number: 3
order: 4
prevPage: '/chapter2/'
nextPage: '/chapter4/'
---

<h1>Chapter 3</h1>
<h1>Perlin Noise and Smooth Movers</h1>
<hr>
<!-- Shared utility function for pausing and resuming any sketch -->
<script>  
  let pauseButtonToggle = function (button, sketch) {
    if (sketch.isLooping()) {
      button.innerText = "Play";
      sketch.noLoop();
    } else {
      button.innerText = "Pause";
      sketch.loop();
    }
  }
</script>

{% for section in collections.chap3 %}
  {{ section.templateContent | safe }}
{% endfor %}

<!-- Auto-load section scripts -->
<!-- Although there are no scripts in this chapter as of now -->
<!-- leaving the below code as a placeholder for future use -->
{% for section in collections.chap3 %}
  <script src="{{ section.data.script | url }}"></script>
{% endfor %}