<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  {% block css %}{% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/p5.min.js"></script>
</head>
  <body style="margin:10px">
    <h1>{{ title }}</h1>
    <script src= "{{ script }}"></script>
    <script>  
      let pauseButtonToggle = function (button, sketch) {
        if (sketch.isLooping()) {
          button.innerText = "Play";
          sketch.noLoop();
        } else {
          button.innerText = "Pause";
          sketch.loop();
        }
      }
    </script>
    
    {{ content | safe }}

    <div class="simulation-container">
      <div id="{{ script.split('/') | last | replace('.js', '') }}" class="interactive-sketch"></div>
      <div id="interactive-controls" class="interactive-panel"></div>
      <div class="control-buttons">
        <button id="pauseButton" onclick="pauseButtonToggle(this, mySketch);">Play</button>
        <button id="resetButton" onclick="mySketch.initializeSketch();">Reset</button>
      </div>
    </div>
    
  </body>
</html>